html {
    font-size: 14px;
    
}



html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-weight: bold;
}
@import url('https://fonts.googleapis.com/css?family=Amarante');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: #eee url('https://i.imgur.com/eeQeRmk.png'); /* https://subtlepatterns.com/weave/ */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #585858;
    padding: 22px 10px;
    padding-bottom: 55px;
}
/*My Own CSS     /////////////////////////////        */
label{
    margin-top:0.4rem;
    margin-bottom:0.4rem;
}

.button {
    background-color: #04AA6D;
    padding:8px;
    font-size:0.7rem !important;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    border-radius:0;
}
td > a{
    text-decoration:none;
}

.coloring {
    padding: 0.5rem !important;
    color: white !important;
    font-weight:bold;
    display:inline-block;
    border:none;

}
.coloring:hover{
    color:white;
}
td > .coloring:nth-child(1) {
    
    background-color:green;
    
}
    td > .coloring:nth-child(2) {
        background-color: blue;
        
    }
    td > .coloring:nth-child(3) {
        background-color: red;
        
    }
.create {
    background-color: #04AA6D;
    padding:0.5rem;
    text-decoration:none;
    color:white;
}
    .create:hover {
        background-color: #0D6EFD;
        color:white;
    }
.table {
    background-color: white;
    margin-top: 1rem;
    font-size: 0.75rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    overflow-x: auto;
}
.fontsize{
    font-size:0.9rem;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tableHeader {
    background-color: #04AA6D;
    color:white;
}
th td {
   
    padding: 8px;
}
.blue {
    background-color: blue;
    padding: 0.5rem;
}
.red {
    background-color: red;
    padding: 0.5rem;
}
.green {
    background-color: green;
    padding: 0.5rem;
}
.dt{
    margin-top:0.9rem;
}
.navContent {
    font-size: 1rem;
}
.ulContent{
    display:flex;
    justify-content:space-around;
}
.details{
    font-size:1rem;
}

@media screen and (min-width: 1400px) and (max-width: 3000px) {
    header > nav {
        width: 1296px !important;
    }
    header {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    header > nav {
        width: 1116px;
    }
    header {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    


    header {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
 /*CSS END    /////////////////////////         */
    ::selection {
        background: #5f74a0;
        color: #fff;
    }

    ::-moz-selection {
        background: #5f74a0;
        color: #fff;
    }

    ::-webkit-selection {
        background: #5f74a0;
        color: #fff;
    }

    br {
        display: block;
        line-height: 1.6em;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }

    ol, ul {
        list-style: none;
    }

    input, textarea {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
    }

    blockquote, q {
        quotes: none;
    }

        blockquote:before, blockquote:after, q:before, q:after {
            content: '';
            content: none;
        }

    strong, b {
        font-weight: bold;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    img {
        border: 0;
        max-width: 100%;
    }

    h1 {
        font-family: 'Amarante', Tahoma, sans-serif;
        font-weight: bold;
        font-size: 3.6em;
        line-height: 1.7em;
        margin-bottom: 10px;
        text-align: center;
    }


    /** page structure **/
    #wrapper {
        display: block;
        background: #fff;
        margin: 0 auto;
        padding: 10px 17px;
        -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
    }

    #keywords {
        margin: 0 auto;
        font-size: 1.2em;
        margin-bottom: 15px;
    }


        #keywords thead {
            cursor: pointer;
            background: #c9dff0;
        }

            #keywords thead tr th {
                font-weight: bold;
                padding: 12px 30px;
                padding-left: 42px;
            }

                #keywords thead tr th span {
                    padding-right: 20px;
                    background-repeat: no-repeat;
                    background-position: 100% 100%;
                }

                #keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
                    background: #acc8dd;
                }

                    #keywords thead tr th.headerSortUp span {
                    }

                    #keywords thead tr th.headerSortDown span {
                    }


        #keywords tbody tr {
            color: #555;
        }

            #keywords tbody tr td {
                text-align: center;
                padding: 15px 10px;
            }

                #keywords tbody tr td.lalign {
                    text-align: left;
                }